:root {
    --background: #fff;
    --color: #222;
    --component-background: #e0e0e0;
    --highlight-color: #ff3d00;
}

@media (prefers-color-scheme: dark){
    :root {
        --background: #272727;
        --color: #aaa;
        --component-background: #3b3b3b;
        --highlight-color: #ff3d00;
    }

    nav {
        background-color: var(--component-background);
    }

    /* pure-table overrides */
    .pure-table {
        border: 2px solid #424242;
    }

    .pure-table thead {
        background-color: var(--component-background);
        color: var(--color);
    }

    .pure-table th, .pure-table td {
        border: 0;
    }

    .pure-table-striped tr:nth-child(2n-1) td {
        background-color: #2E2E2E;
    }
    /* end pure-table overrides */
}

body {
    background: var(--background);
    color: var(--color);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    padding-bottom: 0.2em;
    display: inline-block;
    border-bottom: 2px solid var(--highlight-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    clear: both;
}

table {
    width: 100%;
}

.cell-right-align {
    text-align: right;
}

.pure-g > div {
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

/* pure-menu tweaks */
.pure-menu-link {
  border-bottom: 2px solid var(--component-background);
}

.pure-menu-link:hover {
    border-bottom: 2px solid var(--highlight-color);
    background: inherit !important;
}
/* end pure-menu tweaks */
