*,
html {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

div#container {
    max-width: 1200px;
    margin: 0 auto;
    clear: both;
}

div#container-left,
div#container-right,
div#mains-power,
div.mains-power-card,
pre#configuration {
    padding: 0.8em;
    box-sizing: border-box;
}

h1, h2, p, table, img#logo, div#mains-power {
    margin-bottom: 1em;
}

table {
    width: 100%;
}

th, td {
    text-align: left;
    padding: 0 0.4em 0.4em 0;
}

th {
    border-bottom: 1px solid #000;
}

.cell-right-align {
    text-align: right;
}

div#container-left {
    width: 30%;
    float: left;
}

div#container-right {
    width: 70%;
    float: right;
}

pre#configuration {
    background-color: #DDD;
    overflow: hidden;
}

div#mains-power {
    background-color: #DDD;
}

div.mains-power-card {
    float: left;
    width: 25%;
    padding: 2em;
    text-align: center;
}

div.mains-power-card span {
    display: block;
}
